@charset "utf-8";

/**=========登录和注册总体样式===============*/
.loginpage{
	background-color:#fff;
	margin:20px auto;
    padding: 30px 30px 60px;
}
/*输入框*/
.loginpage .textcss{
	width: 260px;
    height: 30px;
    padding: 0 5px 0;
    border: solid 1px #999;
    background-color: white;
}
/*注册登录按钮*/
.butncss{
    width: 272px;
    height: 35px;
    border: none;
    background: #35b558;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
	font-family:'微软雅黑';
}
.butncss:hover{
	/*background: #ff9900;*/
	background: blue;
}




/*===========注册样式=============*/
/*标题*/
.loginpage h1{
    height: 40px;
    border-bottom: solid 1px #ccc;
    padding: 0 15px;
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 40px;
}
.loginpage h1 .other{
	font-size:14px;
    float: right;
	margin-right:10px;
    color: #999;
}
.loginpage h1 a{
	font-size:14px;
	color:#35b558;
}
.loginpage h1 a:hover{
	color:#ff9900;
}

/*表格*/
.regtable{
    width: 100%;
}
.regtable td{
	padding: 10px;
}
.regtable td.title{
    width: 120px;
    text-align: right;
    vertical-align: top;
    line-height: 30px;
}
.loginpage .short{
	width:90px;
}
.loginpage .verify_box{
position:relative;
}
.loginpage .verify_box img{
	position:absolute;
	top:9px;
	left:120px;
	width:160px;
	height:35px;
    cursor: pointer;
	border:1px solid #eee;
}
.loginpage .sms_btn{
	width:160px;
	height:32px;
	margin-left:5px;
	cursor: pointer;
	border:0;
	color:#666;
	background-color:#eee;
	font-size:14px;
}
.loginpage .sms_btn:hover{
	background-color:#ff9900;
}
.loginpage .msgs{
	margin-left:5px;
	color:#999;
}
.verify_box .msgs{
	margin-left:175px;
}
/*右侧广告图片*/
.loginpage .banner{
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 50px;
    width: 200px;
    height: 260px;
	overflow:hidden;
}
.loginpage .banner_login{
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 50px;
    width: 250px;
    height: 200px;
	overflow:hidden;
}


/**********************登录样式********************/
.nopass,.nopass a{
	color:#999;
}
.nopass a:hover{
	color:#35b558;
}


/******************找回密码弹窗样式***********************/
/*弹窗遮罩*/
.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none;
}
/*弹窗*/
.theme-popover {
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:660px;
	height:360px;
	margin:-180px 0 0 -330px;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}
/*弹窗标题*/
.theme-poptit {
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
	font-size:16px;
	color:#00a0e9;
}
/*弹窗内容*/
.theme-popbod {
	padding:60px 15px;
	color:#444;
	height: 148px;
}
/*关闭弹窗*/
.theme-poptit .close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.theme-poptit .close:hover {
	color:#444;
}


/*表单模块*/
.dform {
	padding:20px 50px;
}
.dform h4{
	text-align:left;
	color:#333;
	font-size:16px;
	margin-bottom:20px;
}

.dform #email{
	border:1px solid #00a0e9;
	width:250px;
	height:28px;
	padding-left:15px;
}


.dform .btn{
	margin-top:30px;
	width:120px;
    height: 30px;
    border: none;
    background: #00a0e9;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}



/*移动端*/
@media only screen and (max-width: 800px) {
	.loginpage{
		width:100%;
		padding: 0;
		margin:20px 0;
	}
	.loginpage .banner_login,
	.loginpage .banner{display:none;}
}

@media only screen and (min-width: 481px) and (max-width: 800px) {

}

@media only screen and (max-width: 480px) {
	/*登录*/
	.loginpage h1{
		font-size: 15px;
		padding: 0 5px;
	}		
	.verify_box .msgs {
		margin-left: 0;
	}
	.regtable{
		width: 90%;
		margin:0 auto;
	}	
	.regtable td {
		padding:10px 0;
	}
	.regtable td.title {
		width: 70px;
	}	
	.loginpage .textcss{
		width: 180px;
	}
	.loginpage .short{
		width:65px;
	}
	.loginpage .verify_box img {
		left: 80px;
		width: 110px;

	}
	.loginpage .regtable .msgs{
		display:block;
		margin-top:5px;
	}
	.butncss {
		width: 160px;
	}

	/*注册*/
	.loginpage .sms_btn{
		width:110px;
	}
}



